    <div id="about-menu-id" class="sections-content" data-display="inherit">
        <h1>About</h1>
        <h2 style="font-size: 21px; text-shadow: none; margin-top: 30px;"> Hi, I'm an Ahnouk! A newbie indie game developer and 3D artist.</h2>
        <div class="about-menu-info">
            <p>
            This project started as a way to express myself, learn, and share the things I’m passionate about: videogames, programming, development, art and more. <br><br>
            I enjoy imagining worlds, stories, characters, and mechanics that connect with people—whether it’s through a game, an animation, or a small 3D scene made with care. <br><br>
            Here, you'll find pieces of that universe I’m slowly building with dedication, curiosity, and a lot of heart.<br><br>

            <p>
                Thanks a lot for stopping by and being part of this creative space. <br> <br>
                🎮💻🎨🦋🎓🌕⏳🍃🎸
            </p>
            
            </p>
        </div>
    </div>
