
    <div class="sections-content" id="contact-menu-id"  data-display="inherit">
        <h1>Contact</h1>

        <!-- <div class="contact-menu-email">
            <h2>E-mail</h2>
            <img class="social-media-logo" src="https://img.icons8.com/ios/50/new-post--v1.png" alt="new-post--v1"/>
        </div> -->
        

        <div class="contact-menu-social-media">
            <h2>Facebook</h2>
            <a href="https://www.facebook.com/ahnoukscodelier" target="_blank"> <img class="social-media-logo" src="https://img.icons8.com/ios/50/facebook-new.png" alt="facebook-new"/></a>
        </div>
        <div class="contact-menu-social-media">
            <h2>Instagram</h2>
            <a href="https://www.instagram.com/ahnoukdevlier.studio" target="_blank"> <img class="social-media-logo" src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="instagram-new--v1"/> </a>
        </div>
    </div>
