
	<main>
		<div class="sections-content" id="home-menu-id" data-display="block">
		<div class="home-menu">
			<div class="home-menu-logo">
				<img id="home-menu-logo" class="logo" src="img/logo_3.png" alt="Logo Ahnouk's Codelier">
				<p>Indie game development & 2D/3D Art</p>
			</div>

			<div class="home-sections-menu" id="home-sections-menu-id">
				<button onclick="changeContent('nav-projects','projects-menu-id')">Projects</button>
				<!-- <button onclick="changeContent('nav-journey','journey-menu-id')">Dev Journey</button> -->
				<button onclick="changeContent('nav-about','about-menu-id')">About</button>
				<button onclick="changeContent('nav-contact','contact-menu-id')">Contact</button>
			</div>
		</div>
		</div>


	</main>
